/*Надстройка стилей*/
body {
margin-top:10px; 
margin-bottom:30px; 
color:#F4EBDD;
background: #131212;
/*color:#131212;
background: #fff;*/
font-size: 17px;
-webkit-font-smoothing: antialiased;
line-height: 1.5em;
font-family: 'BigCity Grotesque Pro Regular 530-Web', sans-serif;
}

@font-face {
  font-family: 'BigCity Grotesque Pro Regular 530-Web';
  src: url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.eot');
	src: url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.eot#iefix') format('embedded-opentype'), 
	url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.woff2') format('woff2'), 
	url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.woff') format('woff'), 
	url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.ttf') format('truetype'), 
	url('../fonts/BigCity/BigCity Grotesque Pro-Regular 530-Web.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.name{
	font-weight: 300;
/*	padding-left: 0px;*/
	display: inline;
}

.about{
	/*margin-top: 20px;*/
	/*height: 75vh;*/
}

.avatar{
	width: 6%;
	border-radius: 2px;
/*	padding-top: 7px;*/
}

h1{
	font-size: 48px;
	line-height: 1.2em;
	margin-top: 10px;
	margin-bottom: 25px;
}


.work{
	padding: 40px 30px 0;
	background: rgb(15,41,85);
	background: -moz-linear-gradient(45deg,  rgb(15,41,85) 1%, rgb(62,4,89) 80%);
	background: -webkit-linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 80%);
	background: linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2955', endColorstr='#3e0459',GradientType=1 );
 
}

.grid-item { width: 270px; }
.wide { width: 540px; }

.item {
	margin-bottom: 30px;

}

.image {
	overflow: hidden;	
}

.links_line{
	margin-left: 20px;
}

.crop{
    height: 300px;
    margin: -75px 0 0 -100px;
}

/*.item:hover .title {	
	text-decoration: none;
	color: #fff;
	border-color: #fff;
}*/

p.title{
	margin-top: 20px;
}

a.links_line{
	padding-bottom: 16px;
	text-decoration: none;
	line-height: 1.3em;
	color: #F4EBDD;
}

a.links_line:hover{
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 1);
}

a.title {
	text-decoration: none;
	color: #F4EBDD;
	font-size: 23px;
	line-height: 1.4em;
	border-bottom: 1px solid;
	border-color: rgba(128, 128, 128, 0.3);
	padding-bottom: 3px;
	
}

a.title:hover {
	text-decoration: none;
	color: #fff;
	border-color: #fff;
}

img {
	width: 100%;
	padding-bottom: 10px;
}

.header{
	border-bottom: 1px solid;
	border-color: rgba(214, 216, 195, 0.13);
}

.footer{
	margin-top: 50px;
	font-size: 15px;

}

#blog_link {
	text-align: right;
	float: right;
}

